<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <title>{% block tittle%}{% endblock %}</title>
</head>
<body>
    <header>
        <nav class="hat">
            <a href="{{ url_for('index') }}">Все таблицы</a>
            <a href="{{ url_for('queue') }}">Создать таблицу</a>
            <button id="registerButton">Зарегистрироваться</button>
            <button id="loginButton">Войти</button>
        </nav>
    </header>
    {% block body %}{% endblock %}
</body>
</html>